<!-- <div id="footer-wrap">
  <div class="footer-links">
    <div class="footeraddress">
      <div class="inner-footeraddress">
        <div class="addressleft">
          <div class="address">
            550 University Avenue, Charlottetown<br />
            Prince Edward Island, Canada C1A 4P3<br />
          </div>
          <div class="links-last">
            <a href="http://www.upei.ca/emergency/">Emergency Preparedness</a> |
            <a href="http://home.upei.ca/about-upei/publications">Publications</a> |
            <a href="https://cab.upei.ca/privacy-committee">Privacy Policy</a> |
            <a href="http://home.upei.ca/disclaimer">Disclaimer</a> |
            <a href="http://home.upei.ca/about-website">About this Website</a> |
            <a href="http://upeitest.desk.com/customer/widget/emails/new?ticket[custom_upei_url]=http%3A//home.upei.ca/&">Contact UPEI</a>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <div class="footerlogo"><img src="http://files.upei.ca/misc/shieldfooter.png"></div>
        <div class="socialmedia">
          <a class="noicon" href="http://facebook.com/UniversityofPEI"><img src="http://files.upei.ca/misc/social/upei_facebook.png"></a>
          <a class="noicon" href="http://twitter.com/upei"><img src="http://files.upei.ca/misc/social/upei_twitter.png"></a>
          <a class="noicon" href="http://youtube.com/UofPEI"><img src="http://files.upei.ca/misc/social/upei_youtube.png"></a>
          <a class="noicon" href="http://flickr.com/groups/upei"><img src="http://files.upei.ca/misc/social/upei_flickr.png"></a>
        </div>
        
      </div>
    </div>
  </div>
</div> -->